body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    color: dodgerblue;
}

h1 {
    color: salmon;
}

h2 {
    color: fuchsia;
}

main {
    background-color: bisque;
    padding: 20px;
    margin: 16px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 18px;
}

ul,ol {
    margin-top:0;margin-bottom:16px;
}
li first-child {
font-weight: bold;
}

main{
    border: 7px solid darkcyan;
}

header {
    background-color: thistle;
    padding: 16px;
    margin: 16px;
    border: 8px solid hotpink;
}

img {
    width: 200px;
    border: 5px solid saddlebrown;
}

hero-container{
    display: flex;
    align-items: center;
}

hero-container imeg {
    border: 4px solid #000;
    border-radius: 50;
}

hero-container {
    display: flex;
    align-item: center;
}

.highlight {
    background-color: white;
    border: 6px solid navy;
    padding: 10px;
}

a {
    color: black; 
    text-decoration: none;
}
a:hover {
    color: green;
}

li {
    margin-bottm: 8px;
}
main {
    margin: 40px auto;
    width: 80%;
}

footer {
    text-align: centre;
    margin-top: 30px;
}

contact-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #DD8E58;
    padding: 15px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
}

nav li {
    margin-right: 20px;
}

nav {
    position: sticky;
    top: 0;
    background-color: aliceblue;
    z-index: 100;
}

hover {
    color: #2563eb;
    transform: scale(1.1);
}

skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: center;
}

column {
    flex: 1 1 300px;
    min-width: 250px;
}



