body {
    font-family: Arial, sans-serif;
    background-color: darkgrey;
    color: dodgerblue;
}

header {
    background-color: #DD8E58;
    color: #00000000;
}

header {
    background-color:honeydew;
    padding: 16px;
    margin: 16px;
    border: 2px solid #808080;
    position: sticky;
    top: 0;
    z-index: 100;
    color: fuchsia;

}

h1 {
    color: #1e1e1e;
}

h2 {
    color: orangered;
    background-color: antiquewhite;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 18px;
}

p {
font-size: 16px;
line-height: 1.5;
}

li {
    color: firebrick;
    margin-bottom: 6px;
}

ol li:first-child {
    font-weight: bold;
    color: #1e1b4b;
} 


main{
    background-color: #f0f0f0;
    padding: 16px;
    margin: 20px auto;
    width: 80%;
    border: 2px solid #DD8E58;
}

contact-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #1e1b4b;
    padding: 15px;
    border-radius: 8px;
}

hero-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

hero-container img {
    width: 150px;
    border: 4px solid #1e1b4b;
    border-radius: 50%;
}

nev ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}












