body {
    font-family: Arial, sans-serif;
    background-color: #a9a9a9;
    color: #102235;
}

header {
    background-color: #DD8E58;
    color: #00000000;
}

header {
    background-color:#f0fff0;
    padding: 16px;
    margin: 16px;
    border: 2px solid #80808065;
    position: sticky;
    top: 0;
    z-index: 100;
    color: #ff00ff;

}

h1 {
    color: #1e1e1e;
}

h2 {
    color: #ff4500;
    background-color: #faebd713;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 18px;
}

p {
font-size: 16px;
line-height: 1.5;
}

li {
    color: #b22222;
    margin-bottom: 6px;
}

ol li:first-child {
    font-weight: bold;
    color: #1e1b4b;
} 


main{
    background-color: #f0f0f0;
    padding: 16px;
    margin: 20px auto;
    width: 80%;
    border: 2px solid #DD8E58;
}

contact-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #1e1b4b;
    padding: 15px;
    border-radius: 8px;
}

hero-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

hero-container img {
    width: 150px;
    border: 4px solid #1e1b4b;
    border-radius: 50%;
}

nev ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

skills-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

skills-column {
    flex: 1;
    min-width: 200px;
}

a {
    color: #662fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

a:hover {
    color: #5f9ea0;
    transform: scale(1.1);
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 29px;
}

.highlight {
    background-color: #faebd7;
    border: 2px solid #808080;
    padding: 10px;
}












